<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Sistema de logistica</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/admin}">Inicio <span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Almacen </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/almacen/nuevo}">Nuevo
						almacen</a> <a class="dropdown-item" th:href="@{/almacen/lista}">Lista
						almacenes</a>


					<div class="dropdown-divider"></div>
				</div></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Categoria </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/categoria/nuevo}">Registrar
						nueva categoria</a> <a class="dropdown-item"
						th:href="@{/categoria/lista}">Lista de categorias</a>


					<div class="dropdown-divider"></div>
				</div></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Ciudad </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/ciudad/nuevo}">Registrar
						nueva ciudad</a> <a class="dropdown-item" th:href="@{/ciudad/lista}">Lista
						de ciudades</a>


					<div class="dropdown-divider"></div>
				</div></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Proveedor </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/proveedor/nuevo}">Registrar
						nuevo proveedor</a> <a class="dropdown-item"
						th:href="@{/proveedor/lista}">Lista de proveedores</a>


					<div class="dropdown-divider"></div>
				</div></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Producto </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/producto/nuevo}">Registrar
						producto</a> <a class="dropdown-item" th:href="@{/producto/lista}">Lista
						de productos</a>


					<div class="dropdown-divider"></div>
				</div></li>

			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Orden de compra </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{/orden/nuevo}">Registrar
						orden</a> <a class="dropdown-item" th:href="@{/orden/lista}">Lista
						de ordenes</a>


					<div class="dropdown-divider"></div>
				</div></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Orden de compra </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{'/ingreso/orden/'+ ${session.usuario.id}}">Ver orden</a>


					<div class="dropdown-divider"></div>
				</div></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> Salida de compra </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" th:href="@{'/salida/pedido/'+ ${session.usuario.id}}">Ver venta</a>


					<div class="dropdown-divider"></div>
				</div></li>
			<li class="nav-item active"><a class="nav-link font-italic">Bienvenido
					<span class="font-italic" th:text="${session.usuario.nombres}"></span>
			</a></li>
		</ul>
		<form th:action="@{/logout}" method="POST">
			<button type="submit" class="btn btn-danger mt-3">Salir</button>
		</form>
	</div>
</nav>